<ul class="help-tabs" id="top">
  <li>
    <a href="#" data-target="#page-1" class="tab-link">Help centre</a>
  </li>
  <li>
    <a href="#" data-target="#page-2" class="tab-link">Your user account</a>
  </li>
  <li>
    <a href="#" data-target="#page-3" class="tab-link">Ordering on nelou</a>
  </li>
</ul>

<article class="static-content tab-page active" id="page-1">
  <div class='content-item'>
    <h1>Help center</h1>
    <h2>Summary
    </h2>
    <p>If you are interested in any of the items presented on the platform you can easily acquire it. Whether for yourself or as a present for a friend the items put smilies on faces. Furthermore, through buying on the platform you also support
      individual designers and their unique craftsmanship. While building the platform we made sure that searching through the platform was as convenient as possible and buying was easy and secure. Below you find the most important answers to all your
      questions concerning ordering and buying of items.
    </p>
    <ul>
      <li>
        <a href='#1'>Easy way of ordering on nelou.com</a>
      </li>
      <li>
        <a href='#2'>My user account
        </a>
      </li>
      <li>
        <a href='#3'>Using my styleaut user account
        </a>
      </li>
      <li>
        <a href='#4'>Paying on nelou.com easily and securely
        </a>
      </li>
      <li>
        <a href='#5'>Delivering my order and returning my order
        </a>
      </li>
      <li>
        <a href='#6'>My bill
        </a>
      </li>
    </ul>
  </div>
  <div class='content-item topborder'>
    <a name='1'></a>
    <h2>Easy way of ordering on nelou.com</h2>
    <p>1) Like in a physical store, you also have a shopping cart on nelou.com for your convenience. The cart is placed in the top right corner. You can easily drop any items in it that you are interested in through out your shopping tour on nelou.com.</p>
    <p>2) After your tour you can go back to the cart and decided which items you really like and then proceed to check out.</p>
    <p>3)To proceed with your order, you will be asked to login using your username and password. In case you have not registered you will be asked to do so.</p>
    <p>4) Now you can check your order again, before you are finally ready to make the purchase.</p>
    <p>5) For your convenience we implemented several purchasing methods: credit card, bank transfer or PayPal. Now your order is placed and ready to be send out to you. You will receive an order confirmation via email shortly. Depending on whether the
      items &quot;Ready To Wear&quot; you will receive it shortly or it will be &quot;Custom Made&quot; for you.
    </p>
    <p class='toplink'>
      <a href='#top'>up</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='2'></a>
    <h2>My user account
    </h2>
    <p>To go shopping on nelou.com you need to register first. This service is completely free and only takes a few minutes. Going forward you will not have to insert your personal data and shipping address again.</p>
    <p>To open an unser account and to login please follow the &quot;<a href="<%= spree.signup_path %>">Register</a>&quot; link on the top right corner. All you information is safely secured and will not be handed out to any third party (to read more on that please follow the link tot &quot;<a href="<%= main_app.privacy_path %>">Privacy Policy</a>&quot;).
    </p>
    <p>After registering you will receive a confirmation email with all your access details (Tip: in case a third party has access to your account, we recommend that you delete this email and safely store your access information in a different location).</p>
    <p>In case you lose your account details, please go to &quot;<a href="<%= spree.recover_password_path %>">forgotten password?</a>&quot;.
    </p>
    <p class='toplink'>
      <a href='#top'>up</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='3'></a>
    <h2>Using my styleaut user account
    </h2>
    <p>If you have registered with us through one of our partner websites you are able to also login to nelou.com with the same user account details. Please use the &quot;<a href="<%= spree.account_path %>">My account</a>&quot; button in the top right corner to login. Enjoy shopping on our new and bigger platform!
    </p>
    <p class='toplink'>
      <a href='#top'>up</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='4'></a>
    <h2>Paying on nelou.com easily and securely</h2>
    <p>Online shopping becomes more and more part of life because only online can you offer a great number of different products in an easy and comfortable way. This is also the case on nelou.com - hence safety and security is one of the top priorities
      on our websites and easily recognisable through the &quot;closed lock&quot; sign in your browser.</p>
    <p>There are several payment methods we offer for your convenience:<br/>
      • Credit Card (MasterCared SecureCode, Verified by VISA)<br/>
      • Online banking (via sofortueberweisung.de and eps Online bank transfer)<br/>
      • PayPal</p>
    <p class='toplink'>
      <a href='#top'>up</a>
    </p>
    <p class='toplink'>&nbsp;</p>
    <div class='content-item topborder'>
      <a name='5' id="4"></a>
      <h2>Delivering my order and returning my order</h2>
      <p>Depending on whether you ordered a &quot;Ready To Wear&quot; item or a &quot;Custom Made&quot; item the items is send to you either in 3 - 5 days or is especially made for you and might take a little longer. If you order from one designer
        &quot;Custom Made&quot; &amp; &quot;Ready To Wear&quot; items at the same time, those will be shipped out together and may take up to 14 days before they get to you directly from the designer. To find out more about the shipping policy please visit
        <a href="<%= main_app.help_path %>">this page</a>.<br/>
        <br/>
        Shipping cost and duration depends from where and to where a product is shipped to (for more information see the &quot;Shipping Costs Table&quot;) and are highlighted in your bill.</p>
      <p>You can cancel an order within 14 days of placing it via email, letter and through the system, or in case you have received the item already, by sending it back to the designer.</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>

      <div class='content-item topborder'>
        <a name='6' id="6"></a>
        <h2>My bill</h2>
        <p>
          To view &quot;<a href="<%= spree.account_path %>">Your order</a>&quot; please access your user account. For environmental reasons we are not sending bills with the physical order. Please download your bill as pdf in your user account. However, if you need a physical bill, please email
          <a href="mailto:info@nelou.com">info@nelou.com</a>
          with your order number. We are happy to send you a copy of the bill via post.
        </p>
        <p class='toplink'>
          <a href='#top'>up</a>
        </p>
      </div>
    </div>
  </div>
</article>

<article class="static-content tab-page" id="page-2">
  <div class='content'>
    <div class='content-item'>
      <h1>Your user account</h1>
      <h2>Summary</h2>
      <p>Your user account is like a virtual &quot;membership card&quot;. To join &quot;the club&quot; we need certain information from you, like name, address, shipping address, etc for you to be able to easily and securely shop on nelou.com. You only
        need to insert your information ones and you van come back any time again to shop on the platform.</p>
      <ul>
        <li>
          <a href='#1'>Open a user account
          </a>
        </li>
        <li>
          <a href='#2'>Using my styleaut user account
          </a>
        </li>
        <li>
          <a href='#3'>Shopping on nelou.com after registration
          </a>
        </li>
        <li>
          <a href='#4'>Forgotten your user account details?
          </a>
        </li>
        <li>
          <a href='#5'>Is my personal information on nelou.com secure?</a>
        </li>
        <li>
          <a href='#6'>Does nelou.com same my credit card and bank account details?
          </a>
        </li>
        <li>
          <a href='#7'>Personal information in your user account
          </a>
        </li>
        <li>
          <a href='#8'>Delete your account
          </a>
        </li>
        <li>
          <a href='#9'>My Orders and Bills
          </a>
        </li>
        <li>
          <a href='#10'>My Comments
          </a>
        </li>
      </ul>
    </div>
    <div class='content-item topborder'>
      <a name='1'></a>
      <h2>Open a user account</h2>
      <p>Regardless of where you are on nelou.com you always find your shopping cart on the right corner with important help links below the sign. Please follow the link &quot;<a href="<%= spree.signup_path %>">New at nelou? Register now</a>&quot;, to open a user account.
        <br/>
        <br/>
        In case you have not register with nelou.com already please follow the &quot;NEXT&quot; button below &quot; I want to set up an account now&quot;. (In case you have registered with nelou.com already please login under &quot;I am a registered user
        already&quot;).</p>
      <p>Please fill in all the required fields in order to be able to use the website and to be able to receive your items when you have ordered on nelou.com. You can change your information at any time.</p>
      <p>After submitting your registration form, you will be send an email to the provided email address with all your access information.</p>
      <p>Now you have successfully completed your registration! Have fun shopping on nelou.com!</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='2'></a>
      <h2>Using my styleaut user account</h2>
      <p>If you registered through any of our partner website with us, you can &quot;<a href="<%= spree.login_path %>">Login</a>&quot; to your nelou.com account using those access details. You do not have to reregister with us again.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='3'></a>
      <h2>Shopping on nelou.com after registration</h2>
      <p>Once you have successfully opened your user account you can easily and securely shop on nelou.com 24/7. You only need your account details (username and password) to &quot;<a href="<%= spree.login_path %>">Login</a>&quot;. When you proceed to check out you need to confirm all the details you inserted when you opened your account. Please make sure to check all the details again, in case some of the information changed like the shipping address.</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='4' id="4"></a>
      <h2>Forgotten your user account details?</h2>
      <p>In case you forgot your account details please go to &quot;<a href="<%= spree.recover_password_path %>">Forgot Password?</a>&quot;. After entering the username and email address you will receive an email with your password. In case you forgot your username please send an email with the subject &quot;Access details - user account&quot; to
        <a href="mailto:info@nelou.com">info@nelou.com</a>. Please add your customer ID t
        o the email (you find the ID on each order/bill which we emailed to you) or information which helps us to identify you like your address or telephone number. After
        receiving your email we will process your request as soon as possible.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
      <p class='toplink'>&nbsp;</p>
    </div>
    <div class='content-item topborder'>
      <a name='5' id="5"></a>
      <h2>Is my personal information on nelou.com secure?</h2>
      <p>Security is one of our main priority on nelou.com. Please see &quot;<a href="<%= main_app.privacy_path %>">Privacy Policy</a>&quot; for further information.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='6' id="6"></a>
      <h2>Does nelou.com same my credit card and bank account details?</h2>
      <p>NO! We took a conscious decision not to do so. Hence, every time you order on nelou.com we will ask you to pick your preferred payment method and depending on that insert your credit card details or are transferred to your bank where you are asked
        to complete the transaction. In both cases you remain on a secure server (recognisable by the closed lock sign on the browser).
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='7' id="7"></a>
      <h2>Personal information in your user account
      </h2>
      <p>You can change any of the provided information in your user account at any time. Please login to your
        <a href="<%= spree.account_path %>">user account</a>
        to do so. Please make sure to save your changes by clicking the &quot;edit&quot; button.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='8' id="8"></a>
      <h2>Delete your account</h2>
      <p>You can delete your user account at any time by sending us an email with the subject &quot;Delete account&quot; to
        <a href="mailto:info@nelou.com">info@nelou.com</a>. Please also provide your account number, your username and your password for you to be able to identify you as the user of the account which is to be delete.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='9' id="9"></a>
      <h2>My Orders and Bills
      </h2>
      <p>Please login to your user account where you can find your order/bill under &quot;<a href="<%= spree.account_path %>">Your Order</a>&quot;.
      </p>
      <p>Due to environmental issues we are not sending out physical bills with your orders. You can easily download your bills as a PDF from your user account. In case you do need a physical copy of the bill please email
        <a href="mailto:info@nelou.com">info@nelou.com</a>
        with your order number and we are happy to post a copy to you.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
  </div>
</article>

<article class="static-content tab-page" id="page-3">
  <div class='content'>
    <div class='content-item'>
      <h1>Ordering on nelou</h1>
      <h2>Summary
      </h2>
      <p>Our aim is to make your shopping experience on nelou.com as easy, comfortable and secure as possible. We want you to feel as comfortable in our virtual shop as you would in a physical boutique!
      </p>
      <ul>
        <li>
          <a href='#1'>My Wish List
          </a>
        </li>
        <li>
          <a href='#2'>My Shopping Cart
          </a>
        </li>
        <li>
          <a href='#3'>Proceed to Checkout
          </a>
        </li>
        <li>
          <a href='#5'>Using a voucher
          </a>
        </li>
        <li>
          <a href='#6'>Paying secure and easy online
          </a>
        </li>
        <li>
          <a href='#7'>Receiving my order
          </a>
        </li>
        <li>
          <a href='#8'>Receiving my bill
          </a>
        </li>
      </ul>
    </div>
    <div class='content-item topborder'>
      <a name='1'></a>
      <h2>My Wish List</h2>
      <p>Your &quot;<a href="<%= spree.default_wishlist_path %>">Wish List</a>&quot; is a tool which helps you remember products which you like. You do not even need to be registered! Those products remain saved in the wish list for one year. It basically helps you remember
what you like and you can come back to it any time. You can add products from the wish list to your shopping cart and then proceed to check out. Please note, in order to be able to use the shopping, so called &quot;Cookies&quot; in your browser need
to be active.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='2'></a>
      <h2>My Shopping Cart</h2>
      <p>Your &quot;<a href="<%= spree.cart_path %>">Shopping Cart</a>&quot; works similar to your Wish List - however products placed in the Shopping Cart will be deleted after a few days. However, the main difference is, you can go straight to Check Out from the
Shopping Cart and place an order. You can place the order while you are on the website or come back at a later point in time and complete the order. An order placed in the Shopping Cart is not binding. You can easily remove a product or change the
quantity. Once you decided that what is in your Shopping Cart is what you would like to buy, you proceed to Checkout.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='3'></a>
      <h2>Proceed to Checkout</h2>
      <p>When you proceed to Check Out you will be asked to login to your user account (if you are login already you will not be asked). Subsequently, you can check your personal information again, change your shipping address and choose a payment method.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='5' id="5"></a>
      <h2>Using a Voucher
      </h2>
      <p>In case you own a nelou.com voucher you can redeem when you Check Out. Please insert the code into the designated field and press the &quot;Redeem Voucher&quot; button. The sum of your order will be reduced by the value of the voucher. You can
        also redeem more than one voucher at a time by inserting one after the other.</p>
      <p>In case you overpay, i.e. the total voucher sum is bigger than the actual price you are asked to pay you will be credited the remaining sum to you user account. The remaining voucher credit can be redeemed during a later purchase on nelou.com .</p>
      <p>Note: Once a voucher was inserted, it can not be taken back again. Each voucher can only be redeemed once and not be redeemed for cash. When you insert the voucher code, please note capital and small letters.</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='6' id="6"></a>
      <h2>Paying secure and easy online</h2>
      <p>To make your shopping experience as easy and secure as possible, nelou.com uses the latest technology available to solve the challenge. Hence, we are using several safety measures which again are used by the credit card companies and banks with
        cooporate with:</p>
      <p>1. Secure internet connection and encrypted data transfer: You will find a &quot;closed lock&quot; sign in your browser when you proceed to step 4 &quot;Payment&quot;. The sign indicates that all data transfer is done via a &quot;SSL-Server&quot;
        which means that between you and the data receiver highest security measures are implemented. Hence unauthorized people will not be able to access any of the data.</p>
      <p>2. Variety of payment measures: We offer you a variety of payment methods, e.g. via credit card (MasterCard SecureCode, Verified by VISA), direct bank transfer (sofortueberweisung.de) or PayPal.
      </p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='7' id="7"></a>
      <h2>Receiving my Order</h2>
      <p>After completing your order, you will receive a confirmation email. In the email you find all the details concerning your oder, products, price, payment method, billing and shipping address and your customer number.</p>
      <p>All your products are from individual designers, hence each designer sends out an individual package with your ordered item to you. Those products are NOT stored in a storage space because they are all individual pieces made for you.</p>
      <p>Depending on whether you ordered a &quot;Ready To Wear&quot; or a &quot;Custom Made&quot; item the delivery time varies. &quot;Ready To Wear&quot; items are send out within 5-7 days, &quot;Custom Made&quot; take up to 14 days.</p>
      <p>Shipping costs depend where and to where a product is send to. Please see the &quot;Shipping table&quot; for details. The price is also disclosed in your bill.</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
    <div class='content-item topborder'>
      <a name='8' id="7"></a>
      <h2>Receiving my Bill</h2>
      <p>Due to environmental reasons we decided not to print of bills and add them to your package. You can
        <a href="<%= spree.account_path %>">download your bill as PDF in your user account</a>. However, if you require a hard copy please send an email to
        <a href="mailto:info@nelou.com">info@nelou.com</a>
        with your billing number. We are happy to send a hard copy to you via postal mail.</p>
      <p class='toplink'>
        <a href='#top'>up</a>
      </p>
    </div>
  </div>
</article>
