<ul class="help-tabs" id="top">
  <li>
    <a href="#" data-target="#page-1" class="tab-link">Hilfe &amp; Service</a>
  </li>
  <li>
    <a href="#" data-target="#page-2" class="tab-link">Hilfe zum Benutzerkonto</a>
  </li>
  <li>
    <a href="#" data-target="#page-3" class="tab-link">Hilfe bei der Bestellung</a>
  </li>
</ul>
<article class="static-content tab-page active" id="page-1">
  <h1>Hilfe &amp; Service</h1>
  <h2>Das Wichtigste in Kürze
  </h2>
  <p>Falls Sie sich für einen auf dieser Plattform präsentierten Artikel näher interessieren, so können Sie diesen natürlich gerne erwerben. Sie machen sich damit nicht nur sich selbst oder anderen eine garantiert sehr individuelle Freude, sondern
    unterstützen damit zugleich auch hochwertiges Kunsthandwerk und ein Stück heimischer Kultur.<br/>
    Wir haben uns bei der Entwicklung dieser Seite bemüht, Ihnen die Auswahl und den Kauf so bequem und sicher als möglich zu machen. Antworten auf die wichtigsten Fragen zum Bestellvorgang finden Sie im Folgenden auf dieser Seite, weiterführende
    Detailinformationen entnehmen Sie bitten den Links mit Erläuterungen zum Benutzerkonto sowie der Bestellung.
  </p>
  <ul>
    <li>
      <a href='#1'>So einfach kann ich bei nelou.com bestellen</a>
    </li>
    <li>
      <a href='#2'>So funktioniert mein Benutzerkonto
      </a>
    </li>
    <li>
      <a href='#3'>So nutzen Sie Ihr bestehendes Benutzerkonto von styleaut.com
      </a>
    </li>
    <li>
      <a href='#4'>So können Sie bequem und sicher online bezahlen
      </a>
    </li>
    <li>
      <a href='#5'>So funktionieren Warenlieferung und Rückgabe
      </a>
    </li>
    <li>
      <a href='#6'>So erhalte ich meine Rechnung
      </a>
    </li>
  </ul>
  <div class='content-item topborder'>
    <a name='1'></a>
    <h2>So einfach kann ich bei nelou.com bestellen
    </h2>
    <p>Wie in einer realen Boutique, so steht Ihnen auch bei nelou.com ein Warenkorb für Ihren Einkauf zur Verfügung. In diesem Warenkorb, den Sie auf der rechten oberen Seite finden, können Sie völlig unverbindlich jene Stücke platzieren, die Sie
      während Ihres virtuellen Einkaufsbummels interessieren.
      <br/>
      Wenn Sie mit Ihrem Einkaufsbummel fertig sind, dann können Sie Ihren Warenkorb noch einmal in Ruhe sichten, verändern und dann schließlich per Mausklick &quot;zur Kasse&quot; gehen.<br/>
      Im folgenden Schritt werden Sie gebeten, Ihre Kundendaten mittels Benutzername und Passwort einzugeben, oder – falls Sie noch kein Kundenkonto haben – ein solches anzulegen.<br/>
      Im dritten Schritt können Sie Ihre Bestellung noch einmal überprüfen und gegebenenfalls ändern, bevor Sie dann im vierten und letzten Schritt Ihren Einkauf bezahlen. Dazu stehen Ihnen die gängigen Kreditkarten ebenso zur Verfügung wie auch die
      Online-Direktüberweisung über Ihr Bankkonto; alternativ können Sie auch per PayPal bezahlen.
      <br/>
      Nach erfolgter Bezahlung erhalten Sie umgehend per E-Mail eine automatische Bestellbestätigung. Je nach Verfügbarkeit wird Ihre Ware entweder in Kürze verschickt (&quot;Ready To Wear&quot;) oder extra für Sie angefertigt (&quot;Custom Made&quot;).
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='2'></a>
    <h2>So funktioniert mein Benutzerkonto
    </h2>
    <p>Für einen Einkauf bei nelou.com benötigen Sie ein Benutzerkonto. Dieses können Sie völlig unverbindlich in nur wenigen Minuten eröffnen und besitzt den Vorteil, dass Sie nicht bei jeder Bestellung sämtliche Personen- und Lieferdaten erneut
      eingeben müssen.<br/>
      Um ein Benutzerkonto zu eröffnen, klicken Sie bitte auf den Button &quot;<a href="<%= spree.login_path %>">Anmelden</a>&quot; rechts. Alle Daten werden selbstverständlich vertraulich behandelt, sicher gespeichert und keinesfalls an Dritte weitergegeben (nähere Informationen dazu finden Sie unter dem Menüpunkt &quot;<a href="<%= main_app.privacy_path %>">Datenschutz</a>&quot;).
      <br/>
      Nach erfolgreicher Anmeldung erhalten Sie ein Bestätigungsmail, in dem Sie zur Erinnerung Ihren Benutzernamen und Ihr Passwort finden (Tipp: Falls Dritte Zugang zu Ihrem E-Mail haben sollten, empfehlen wir Ihnen, das E-Mail in diesem Fall
      sicherheitshalber zu löschen, die Zugangsdaten zum Benutzerkonto an einem anderen Ort aufzubewahren oder aufzuschreiben).
      <br/>
      Falls Sie übrigens Ihre Benutzerdaten einmal irrtümlich vergessen oder verlegt haben sollten, so ist das auch kein Problem: Die &quot;<a href="<%= spree.recover_password_path %>">Passwort vergessen?</a>&quot;-Funktion schickt Ihnen dieses innerhalb weniger Sekunden an die in Ihrem Benutzerkonto angegebene E-Mail-Adresse.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='3'></a>
    <h2>So nutzen Sie Ihr bestehendes Benutzerkonto von styleaut.com
    </h2>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='4'></a>
    <h2>Bequem und sicher online bezahlen
    </h2>
    <p>Wie dessen zunehmende Beliebtheit zeigt, sind Online-Shopping und -Bezahlung voll im Trend der Zeit. Zu Recht, denn nirgends sonst als eben im Internet steht Ihnen eine dermaßen große Fülle an Produkten zur Auswahl, die Sie bei seriösen Anbietern
      auch bedenkenlos kaufen können. So auch bei nelou.com – dank verschlüsselter Datenübertragung (leicht zu Erkennen an dem &quot;geschlossenes Vorhangschloss-Symbol&quot; in Ihrem Browserfenster) besteht während des gesamten Bezahlvorganges ein hohes
      Maß an Sicherheit.</p>
    <p>Sie können bei nelou.com auf folgende Weise bezahlen:<br/>
      • Kreditkarte (MasterCared SecureCode, Verified by VISA)<br/>
      • Online-Banking (mittels sofortueberweisung.de und eps Online-Überweisung)<br/>
      • PayPal<br/>
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
    <p class='toplink'>&nbsp;</p>
    <div class='content-item topborder'>
      <a name='5' id="4"></a>
      <h2>So funktionieren Warenlieferung und Rückgabe
      </h2>
      <p>Je nachdem, ob Sie ein &quot;Ready To Wear&quot;-Produkt bestellt haben oder ein &quot;Custom Made&quot;-Produkt, wird Ihre Bestellung im Regelfall binnen 3–5 Tagen versandt oder speziell für Sie angefertigt. Bitte beachten Sie dabei, dass Sie
        alle Artikel eines Designers auch gemeinsam erhalten, d.h. bei einer Mischbestellung aus &quot;Ready To Wear&quot;- und &quot;Custom Made&quot;-Produkten kann es bis zu 14 Tage dauern, bis Ihr Stück handgefertigt und – übrigens direkt vom Designer an
        Sie – versandt wurde. Mehr Informationen zur Warenlieferung erfahren Sie auf dieser Seite.<br/>
        <br/>
        Versandkosten und -dauer sind abhängig vom Zustellungsland (eine Tabelle über alle Länder und Kosten finden Sie hier) und werden auf Ihrer Rechnung natürlich gesondert ausgewiesen.</p>
      <p>Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. Brief, E-Mail) oder – wenn Ihnen die Sache vor Fristablauf überlassen wird – durch Rücksendung der Sache widerrufen.</p>
      <p class='toplink'>
        <a href='#top'>nach oben</a>
      </p>

      <div class='content-item topborder'>
        <a name='6' id="6"></a>
        <h2>So erhalte ich meine Rechnung
        </h2>
        <p>
          In Ihrem Benutzerkonto haben Sie unter dem gleichnamigen Menüpunkt jederzeit Zugriff auf &quot;<a href="<%= spree.account_path %>">Ihre Bestellungen</a>&quot;. Da wir aus Respekt vor der Umwelt keinen unnötigen Papierverbrauch produzieren möchten,
schicken wir standardmäßig keine gedruckten Rechnungen mit unseren Paketen mit. Sie können Ihre Rechnung daher unter dem angeführten Menüpunkt online als PDF herunterladen. Sollten Sie eine gedruckte Rechnung benötigen, so senden Sie uns bitte eine
E-Mail an
          <a href="mailto:info@nelou.com">info@nelou.com</a>
          mit Angabe Ihrer Rechnungsnummer. Wir senden Ihnen anschließend gerne per Post eine gedruckte Rechnung zu.
        </p>
      </div>
    </div>
  </div>
</article>

<article class="static-content tab-page" id="page-2">
  <h1>Hilfe zum Benutzerkonto</h1>
  <h2>Das Wichtigste in Kürze
  </h2>
  <p>Die Funktion Ihres Benutzerkontos könnte man wohl auch als eine Art &quot;virtuellen Mitgliedsausweis&quot; beschreiben: Bei der ersten Bestellung ist es noch notwendig, die wichtigsten Daten zur Person, Lieferung und Verrechnung einzutragen, um
    anschließend eine schnelle und problemlose Bestellabwicklung zu ermöglichen; ab der zweiten Bestellung reicht es dann allerdings, diesen &quot;virtuellen Mitgliedsausweis&quot; herzuzeigen und nur mehr Ihren Benutzernamen und Ihr Passwort
    bekanntzugeben.
  </p>
  <ul>
    <li>
      <a href='#1'>So einfach kann ich ein nelou.com Benutzerkonto anlegen
      </a>
    </li>
    <li>
      <a href='#2'>So nutzen Sie Ihr bestehendes Benutzerkonto von styleaut.com
      </a>
    </li>
    <li>
      <a href='#3'>Ich habe mich erfolgreich angemeldet – wie kann ich nun bestellen?
      </a>
    </li>
    <li>
      <a href='#4'>Was mache ich, wenn ich meine Zugangsdaten vergessen habe?
      </a>
    </li>
    <li>
      <a href='#5'>Werden meine Daten auch wirklich vertraulich behandelt?
      </a>
    </li>
    <li>
      <a href='#6'>Speichert nelou.com auch meine Kreditkarten- oder Kontodaten?
      </a>
    </li>
    <li>
      <a href='#7'>Persönliche Daten im Benutzerkonto ändern
      </a>
    </li>
    <li>
      <a href='#8'>Löschung eines Benutzerkontos
      </a>
    </li>
    <li>
      <a href='#9'>Meine Bestellungen/Rechnungen
      </a>
    </li>
  </ul>
  <div class='content-item topborder'>
    <a name='1'></a>
    <h2>So einfach kann ich ein nelou.com Benutzerkonto anlegen
    </h2>
    <p>Egal, auf welcher Seite sich sich gerade bei nelou.com befinden, am rechten Rand finden Sie unter anderem immer den Warenkorb, einen Merkzettel, die Hilfe- und Tipps-Seiten – und das Benutzerkonto, zu erkennen an dem &quot;Person mit
      Einkaufstaschen&quot;-Symbol.
      <br/>
      <br/>
      Klicken Sie bitte auf &quot;<a href="<%= spree.login_path %>">Hier geht's zur Anmeldung</a>&quot;, um ein Benutzerkonto zu eröffnen.
      <br/>
      <br/>
      Falls Sie noch kein nelou.com Benutzerkonto besitzen, klicken Sie bitte auf den &quot;WEITER&quot;-Button unter dem Hinweis &quot;Ich habe noch kein Konto und möchte mich neu anmelden&quot; (und falls Sie bereits ein Konto besitzen, können Sie sich
      unter &quot;Ich bin bereits Kunde&quot; erneut mittels Benutzernamen und Passwort anmelden).
      <br/>
      <br/>
      Bitte füllen Sie auf der nächsten Seite alle Felder gewissenhaft aus – diese Informationen bildern später die Grundlage sowohl für unsere Bestellbestätigungen per E-Mail als auch für den Paketversand Ihrer Bestellungen. Alle Angaben können Sie
      übrigens später jederzeit selbst online wieder ändern.
      <br/>
      <br/>
      Um Ihre kostenlose Anmeldung abzuschließen, klicken Sie bitte auf &quot;ANMELDEN&quot;; Sie erhalten daraufhin binnen weniger Minuten ein E-Mail mit Ihren Zugangsdaten.
      <br/>
      <br/>
      Damit haben Sie Ihre kostenlose Anmeldung bei nelou.com nun erfolgreich abgeschlossen! Sie können nun entweder sofort Ihren Einkauf fortsetzen und eine Bestellung aufgeben oder zu einem beliebigen späteren Zeitpunkt die Seite wieder besuchen.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='2'></a>
    <h2>So nutzen Sie Ihr bestehendes Benutzerkonto von styleaut.com
    </h2>
    <p>Falls Sie schon bei unserer Partnerseite
      <a href="http://www.styleaut.com">styleaut.com</a>
      als Benutzer angemeldet sind, so können Sie auf nelou.com jetzt ganz besonders bequem und schnell online shoppen: Ihre bestehenden Benutzerdaten sind auch hier gültig. Klicken Sie einfach wie gewohnt auf den Button &quot;<a href="<%= spree.account_path %>">Mein Konto</a>&quot; rechts und Sie sind automatisch angemeldet.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='3'></a>
    <h2>Ich habe mich erfolgreich angemeldet – wie kann ich nun bestellen?
    </h2>
    <p>Als Inhalber eines kostenlosen nelou.com Benutzerkontos können Sie jederzeit und ohne großen Aufwand bestellen. Sie benötigen im Grunde nur mehr Ihren Benutzernamen und Ihr Passwort, um sich anzumelden. Dazu klicken Sie bitte auf den Button &quot;<a href="<%= spree.account_path %>">Anmelden</a>&quot;
rechts auf jeder Seite. Wenn Sie nun im Zuge Ihrer Bestellung zur Kassa gehen, müssen Sie Ihre Angaben nur mehr überprüfen, aber nicht mehr neu eingeben. Optional können Sie Ihre Daten auch in diesem Schritt noch ändern oder eine alternative
Lieferadresse angeben.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='4' id="4"></a>
    <h2>Was mache ich, wenn ich meine Zugangsdaten vergessen habe?
    </h2>
    <p>Für diesen Fall benutzen Sie bitte die &quot;<a href="<%= spree.recover_password_path %>">Passwort vergessen?</a>&quot;-Funktion. Nach Eingabe Ihres Benutzernamens und Ihrer E-Mail-Adresse werden diese Zugangsdaten automatisch binnen weniger Minuten zugesandt. Bitte
beachten Sie dabei, dass der hier eingegebene Benutzername und die E-Mail-Adresse EXAKT den Angaben Ihres Benutzerkontos entsprechen müssen, da wir Ihnen sonst aus Sicherheitsgründen das Passwort nicht zusenden können.<br/>
      Falls Sie auch den Benutzernamen vergessen haben sollten, dann schicken Sie uns bitte ein E-Mail mit dem Betreff &quot;Zugangsdaten vergessen!&quot; an
      <a href="mailto:info@nelou.com">info@nelou.com</a>. Hilfreich ist in diesem Fall, wenn Sie entweder Ihre Kundennummer mitschicken (diese finden Sie auf jeder Bestellung/Rechnung sowie in allen E-Mails, die Sie von uns erhalten haben) oder so genaue
      Angaben zu Ihrer Person (z.B. Adresse, Telefonnummer) als möglich. Wir werden anschließend Ihre Anfrage manuell bearbeiten und Sie im Normalfall binnen 24 Stunden per E-Mail kontaktieren.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
    <p class='toplink'>&nbsp;</p>
  </div>
  <div class='content-item topborder'>
    <a name='5' id="5"></a>
    <h2>Werden meinen Daten auch wirklich vertraulich behandelt?
    </h2>
    <p>Auf diese Frage kann und darf es bei einem seriösen Anbieter eigentlich nur eine einzige Antwort geben: Darauf können Sie sich verlassen! Einer der wichtigsten Grundsätze von nelou.com ist jener, mit sensiblen Daten auch ebenso sensibel umzugehen.
      Sie können also somit absolut sicher sein, dass wir einerseits keinerlei Daten an Dritte weitergeben und andererseits alle Daten sicher vor dem Zugriff unbefugter Dritter gespeichert werden. Weitere Informationen dazu finden Sie auch unter &quot;<a href="<%= main_app.privacy_path %>">Datenschutz</a>&quot;.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='6' id="6"></a>
    <h2>Speichert nelou.com auch meine Kreditkarten- oder Kontodaten?
    </h2>
    <p>Nein! Derartige Daten werden von uns bewusst nicht gespeichert. Sie werden somit bei jeder Bestellung im &quot;Schritt 4/ Bezahlung&quot; gebeten, eine Bezahlart zu wählen. Anschließend werden Sie entsprechend Ihrer Auswahl zu Ihrem Bankinstitut
      verbunden, wo Sie dann Ihre Zahlung tätigen können oder Sie geben Ihre Kreditkarteninformationen ein. In beiden Fällen befinden Sie sich aber auf einem sicheren Server (zu erkennen am &quot;geschlossenes Vorhangschloss-Symbol&quot; in Ihrem
      Browserfenster), der Ihre Daten sozusagen &quot;abhörsicher&quot; aufbereitet und verschlüsselt überträgt.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='7' id="7"></a>
    <h2>Persönliche Daten im Benutzerkonto ändern
    </h2>
    <p>Alle Angaben, die Sie während Ihrer Erstanmeldung eingetragen haben, können Sie auch später jederzeit wieder selbstständig ändern. Bitte melden Sie sich dazu einfach online an, indem Sie auf &quot;<a href="<%= spree.account_path %>">Mein Konto</a>&quot; klicken. Anschließend können Sie alle Angaben – mit Ausnahme der Kundennummer – durch einen Klick auf den &quot;Ändern&quot;-Button auf den neuesten Stand bringen.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='8' id="8"></a>
    <h2>Löschung eines Benutzerkontos
    </h2>
    <p>Selbstverständlich können Sie auch jederzeit Ihr Benutzerkonto löschen lassen. Bitte schreiben Sie uns dazu ein E-Mail mit dem Betreff &quot;Benutzerkonto löschen!&quot; an
      <a href="mailto:mail@nelou.com">mail@nelou.com</a>. Um eine Löschung durchführen zu können, benötigen wir zusätzlich Ihre Kundennummer, Ihren Benutzernamen und Ihr Passwort als Authentifizierung.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='9' id="9"></a>
    <h2>Meine Bestellungen/Rechnungen
    </h2>
    <p>In Ihrem Benutzerkonto haben Sie unter dem gleichnamigen Menüpunkt jederzeit Zugriff auf &quot;<a href="<%= spree.account_path %>">Ihre Bestellungen</a>&quot;.
    </p>
    <p>Da wir aus Respekt vor der Umwelt keinen unnötigen Papierverbrauch produzieren möchten, schicken wir standardmäßig keine gedruckten Rechnungen mit unseren Paketen mit. Sie können Ihre Rechnung daher unter dem angeführten Menüpunkt online als PDF
      herunterladen. Sollten Sie eine gedruckte Rechnung benötigen, so senden Sie uns bitte eine E-Mail an
      <a href="mailto:mail@nelou.com">mail@nelou.com</a>
      mit Angabe Ihrer Rechnungsnummer. Wir senden Ihnen anschließend gerne per Post eine gedruckte Rechnung zu.</p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
</article>

<article class="static-content tab-page" id="page-3">
  <div class='content-item'>
    <h1>Hilfe bei der Bestellung</h1>
    <h2>Das Wichtigste in Kürze
    </h2>
    <p>Wir möchten Ihnen das Bestellen auf nelou.com so einfach, bequem und sicher als möglich machen. Schließlich sollen Sie sich in unserem virtuellen Shop ebenso wohl fühlen wie in einer echten Boutique!
    </p>
    <ul>
      <li>
        <a href='#1'>So funktioniert mein Merkzettel
        </a>
      </li>
      <li>
        <a href='#2'>So funktioniert der Warenkorb
        </a>
      </li>
      <li>
        <a href='#3'>Mit einem Einkauf &quot;zur Kasse&quot; gehen
        </a>
      </li>
      <li>
        <a href='#4'>Die Bestellung vor Bezahlung überprüfen</a>
      </li>
      <li>
        <a href='#5'>Einen Gutschein(code) einlösen
        </a>
      </li>
      <li>
        <a href='#6'>Bequem und sicher online bezahlen
        </a>
      </li>
      <li>
        <a href='#7'>So erhalte ich meine bestellten Produkte
        </a>
      </li>
      <li>
        <a href='#8'>So erhalte ich meine Rechnung
        </a>
      </li>
    </ul>
  </div>
  <div class='content-item topborder'>
    <a name='1'></a>
    <h2>So funktioniert mein Merkzettel
    </h2>
    <p>Auf dem virtuellen &quot;<a href="<%= spree.default_wishlist_path %>">Merkzettel</a>&quot; können Sie – übrigens auch ohne in Ihrem Benutzerkonto angemeldet zu sein – Produkte unverbindlich vormerken. Anschließend können Sie diese vorgemerkten Produkte zu einem
beliebigen späteren Zeitpunkt entweder in den Warenkorb legen oder vom Merkzettel wieder löschen. Ihr Merkzettel hat übrigens ein langes Gedächtnis und merkt sich Ihre Einträge genau ein Jahr lang, bevor sie dann schließlich automatisch gelöscht
werden.
      <br/>
      Technischer Hinweis: Bitte beachten Sie, dass zur Nutzung des Merkzettels sogenannte &quot;Cookies&quot; in Ihrem Browser aktiviert sein müssen.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='2'></a>
    <h2>So funktioniert der Warenkorb
    </h2>
    <p>Der &quot;<a href="<%= spree.cart_path %>">Warenkorb</a>&quot; funktioniert grundsätzlich ähnlich wie der Merkzettel, allerdings werden darin platzierte Produkte bereits nach etwa einer Stunde wieder automatisch entfernt. Der wichtigste Unterschied liegt
darin, dass Sie mit dem Warenkorb gleich direkt &quot;zur Kasse&quot; gehen und online bestellen können. Das können Sie entweder sofort machen, wenn Sie ein Produkt im Warenkorb abgelegt haben; oder zu einem späteren Zeitpunkt, wenn Sie noch weiter
auf nelou.com shoppen möchten.
      <br/>
      Wenn Sie ein Produkt im Warenkorb abgelegt haben, dann geschieht das natürlich völlig unverbindlich: Sie können jederzeit dieses Produkt wieder entfernen (ein Klick auf das &quot;Mistkübel&quot;-Symbol genügt) oder die Stückzahl verändern (bitte
      geben Sie die gewünschte Stückzahl in das Textfeld ein und klicken Sie anschließend auf den &quot;Aktualisieren&quot;-Button).<br/>
      Wenn Sie den Inhalt Ihres Warenkorbes kaufen möchten, dann gehen Sie bitte mit einem Klick &quot;zur Kasse&quot;.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='3'></a>
    <h2>Mit einem Einkauf &quot;Zur Kasse&quot; gehen
    </h2>
    <p>Wenn Sie mit Ihrem Warenkorb zur Kasse gehen werden Sie gebeten, sich in Ihrem Benutzerkonto mittels Benutzernamen und Passwort anzumelden (falls Sie schon angemeldet sind, entfällt dieser Schritt natürlich).<br/>
      Anschließend können Sie Ihre aktuellen Kundendaten noch einmal überprüfen und optional eine alternative Lieferadresse angeben.
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='4' id="4"></a>
    <h2>Die Bestellung vor Bezahlung überprüfen
    </h2>
    <p>Im dritten Schritt des Bestellvorganges können Sie alle Angaben noch einmal auf einen Blick kontrollieren und gegebenenfalls Änderungen vornehmen. Falls Sie Ihrer Bestellung noch eine wichtige Anmerkung hinzufügen möchten, nutzen Sie bitte das
      dafür vorgesehene Feld (Anmerkung: Für allgemeine Fragen oder Informationen zu einem bestimmten Produkt nutzen Sie bitte stattdessen das
      <a href="<%= spree.contact_us_path %>">Kontaktformular</a>).
    </p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='5' id="5"></a>
    <h2>Einen Gutschein(code) einlösen
    </h2>
    <p>Falls Sie z.B. einen nelou.com Geschenkgutschein besitzen oder einen Gutscheincode bei einem Gewinnspiel gewonnen haben, so können Sie diesen hier einlösen. Bitte geben Sie Ihren Code im dafür vorgesehenen Textfeld ein und klicken Sie anschließend
      auf &quot;Gutscheincode einlösen&quot;. Der Gesamtbetrag Ihrer Bestellung reduziert sich daraufhin automatisch um den im Gutschein ausgewiesenen Betrag. Sie können auf diese Weise auch mehrere Gutscheine hintereinander einlösen. Mit jeden
      eingegebenen Gutscheincode reduziert sich der Gesamtbetrag entsprechend.<br/>
      <br/>
      &quot;Überbezahlung&quot;: Falls die Summe Ihrer eingelösten Gutscheine den Bestellwert übersteigen sollte, so wird der restliche Betrag Ihrem Benutzerkonto gutgeschrieben; wenn Sie z.B. eine Bestellung im Gesamtwert von 72,90 Euro (Warenwert +
      Versandkosten) aufgeben und mit 3 Gutscheinen zu je 25,– Euro bezahlen möchten (Gesamtwert 75,– Euro), dann wird Ihnen ein Guthaben von 2,10 Euro für den nächsten Einkauf automatisch gutgeschrieben.
      <br/>
      <br/>
      Wichtiger Hinweis: Eingegebene, mit &quot;Gutschein einlösen&quot; bestätigte und von uns akzeptierte Gutscheincodes werden verbindlich eingelöst und können daher im Anschluss nicht mehr zurückgenommen werden. Jeder Gutschein kann nur einmal
      eingelöst werden. Eine Barablösung von Gutscheinen ist nicht möglich. Ein nelou.com Gutschein kann ausschließlich auf dieser Website eingelöst werden. Bitte achten Sie bei der Eingabe Ihres Gutscheincodes auf die korrekte Groß- und Kleinschreibung!</p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='6' id="6"></a>
    <h2>Bequem und sicher online bezahlen
    </h2>
    <p>Um Ihnen das Einkaufen und Bezahlen so angenehm und sicher als möglich zu machen, verwendet nelou.com die derzeit besten technischen Lösungen. Zu diesem Zweck nutzen wir verschiedene Sicherheitsvorkehrungen, die auch von den
      Kreditkartenunternehmen und Banken, die wir als Bezahlpartner anbieten, geprüft wurden:<br/>
      <br/>
      1. Sichere Internetverbindung und verschlüsselte Datenübertragung: In Ihrem Browser finden Sie im &quot;Schritt 4/Bezahlen&quot; das &quot;geschlossenes Vorhangschloss-Symbol&quot;; dieses Symbol zeigt an, dass die Datenübertragung über einen
      sogenannten &quot;SSL-Server&quot; stattfindet, also zwischen Ihnen und dem Empfänger alle Daten mit höchster Sicherheitsstufe verschlüsselt übertragen werden. Dadurch wird ausgeschlossen, dass Unbefugte diese Informationen während der Übertragung
      lesen können.<br/>
      <br/>
      2. Vielfältige Zahlungsmöglichkeiten: Wir bieten Ihnen eine große Auswahl an Bezahlpartnern an, zu denen die größten Kreditkartenunternehmen (MasterCard SecureCode, Verified by VISA) und Banken (sofortueberweisung.de) zählen. Alternativ nutzen Sie
      bitte PayPal oder Vorkasse, bei der Sie nach erfolgter Onlinebestellung das Geld auf unser Konto überweisen können.</p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='7' id="7"></a>
    <h2>So erhalte ich meine bestellten Produkte
    </h2>
    <p>Direkt nach dem erfolgreichen Abschluss Ihrer Bestellung erhalten Sie binnen weniger Minuten eine automatische Bestellbestätigung per E-Mail an die in Ihrem Benutzerkonto angegebene Adresse. Darin finden Sie alle wichtigen Daten zu Ihrer
      Bestellung wie Art und Anzahl der Produkte, Gesamtkosten, Bezahlart, Rechnungs- und Lieferadresse sowie Ihre Kundennummer.
      <br/>
      <br/>
      Da die Produkte nicht von einem zentralen Lager aus versandt werden (es handelt sich ja schließlich nicht um Massenware, sondern handgefertigte Produkte in kleiner Auflage oder Einzelstücke), werden sie direkt von dem jeweiligen Designer an Sie
      verschickt. Sollten Sie also Produkte von verschiedenen Designern bestellt haben, so erhalten Sie auch (natürlich ohne Mehrkosten) mehrere Pakete.
    </p>
    <p>Die Zeile &quot;Lieferung&quot; in Ihrer Auftragsgestätigung gibt an, wie schnell die bestellten Produkte bei Ihnen eintreffen: Je nachdem, ob Sie ein &quot;Ready To Wear&quot;-Produkt bestellt haben oder ein &quot;Custom Made&quot;-Produkt, wird
      Ihre Bestellung im Regelfall binnen 5–7 Tagen versandt oder speziell für Sie angefertigt. Bitte beachten Sie dabei, dass Sie alle Artikel eines Designers auch gemeinsam erhalten, d.h. bei einer Mischbestellung aus &quot;Ready To Wear&quot;- und
      &quot;Custom Made&quot;-Produkten kann es bis zu 14 Tage dauern, bis Ihr Stück handgefertigt und – direkt vom Designer an Sie – versandt wurde (Anmerkung: Zu diesen Zeitangaben ist dann noch die Laufzeit des Paketes hinzuzurechnen).</p>
    <p>Eine Ausnahme stellen Produkte dar, die als &quot;Maßanfertigung&quot; gekennzeichnet sind. Hier wird exklusiv für Sie und nach Ihren Maßen ein Unikat angefertigt. Der Designer setzt sich nach erfolgter Bestellung sofort mit Ihnen in Verbindung,
      um alle Details und die benötigten Maße zu klären. Anfertigung und Versand erfolgen anschließend nach Absprache und Aufwand so schnell als möglich.<br/>
      <br/>
      Versandkosten und -dauer sind abhängig vom Zustellungsland (eine Tabelle über alle Länder und Kosten finden Sie hier) und werden auf Ihrer Rechnung natürlich gesondert ausgewiesen.</p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
  <div class='content-item topborder'>
    <a name='8' id="7"></a>
    <h2>So erhalte ich meine Rechnung
    </h2>
    <p>Da wir aus Respekt vor der Umwelt keine unnötigen Papierverbrauch produzieren möchten, schicken wir standardmäßig keine gedruckten Rechnungen mit unseren Paketen mit.</p>
    <p>Ihre Rechnung können Sie online
      <a href="<%= spree.account_path %>">in Ihrem Benutzerkonto als PDF herunterladen</a>. Sollten Sie eine gedruckte Rechnung benötigen, senden Sie uns bitte eine entsprechende E-Mail an
      <a href="mailto:info@nelou.com">info@nelou.com</a>
      mit Angabe Ihrer Rechnungsnummer. Wir senden Ihnen anschließend gerne per Post eine gedruckte Rechnung zu.</p>
    <p class='toplink'>
      <a href='#top'>nach oben</a>
    </p>
  </div>
</article>
