<% user = @shipment.order.user %>
<%= Spree.t("dear.#{@shipment.address.gender}") %> <%= @shipment.address.name %>,

Deine nelou-Bestellung wurde versendet.

===================================================
Folgende Produkte sind in dieser Sendung enthalten:

<% @shipment.manifest.each do |item| %>
<%= item.variant.product.name %> <%= item.variant.options_text %>
<% end %>
===================================================

<% if @shipment.tracking.present? || @shipment.tracking_url.present? %>
SENDUNGSVERFOLGUNG

<% if @shipment.tracking_url %>
Um den Status Deiner Sendung zu verfolgen, klicke einfach auf diesen Link: <a href="<%= @shipment.tracking_url %>"><%= @shipment.tracking_url %></a>
Bitte beachte, dass es etwas dauern kann, bis Deine Nummer auf der Website des Versandpartners registriert ist.
<% end %>
<% if @shipment.tracking %>
Weitere Informationen: <%= @shipment.tracking %>
<% end %>
<% end %>
Vielen Dank für Deinen Einkauf auf nelou.com - wir hoffen, Deine Bestellung bereitet Dir viel Freude!

Du hast Fragen zu Deiner Bestellung? Kontaktiere uns unter: <a href="mailto:customercare@nelou.com"></a>

Für Fragen zu Deiner Bestellung verweise bitte auf Deine Bestellnummer <%= @shipment.order.number %>.

Mit vielen Grüßen,
Ihr nelou-Team
