<% admin = spree_current_user.admin? %>

<div data-hook="admin_product_form_fields">

  <div class="row">

    <div class="col-md-8" data-hook="admin_product_form_left">
      <div data-hook="admin_product_form_name">
        <%= f.field_container :name, class: ['form-group'] do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
          <%= f.text_field :name, class: 'form-control title' %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <% if admin %>

        <div data-hook="admin_product_form_slug">
          <%= f.field_container :slug, class: ['form-group'] do %>
            <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *', class: "required")) %>
            <%= f.text_field :slug, class: 'form-control title' %>
            <%= f.error_message_on :slug %>
          <% end %>
        </div>

      <% end %>

      <div data-hook="admin_product_form_description">
        <%= f.field_container :description, class: ['form-group'] do %>
          <%= f.label :description, Spree.t(:description) %>
          <%= f.text_area :description, { rows: "#{unless @product.has_variants? then '20' else '13' end}", class: 'form-control' } %>
          <%= f.error_message_on :description %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4" data-hook="admin_product_form_right">
      <div data-hook="admin_product_form_price">
        <%= f.field_container :original_price, class: ['form-group'] do %>
          <%= f.label :original_price, raw(Spree.t(:master_price) + content_tag(:span, ' *', class: "required")) %>
          <%= f.text_field :original_price, value: number_to_currency(@product.original_price, unit: ''), class: 'form-control', disabled: (cannot? :update, Spree::Price) %>
          <%= f.error_message_on :original_price %>
        <% end %>
      </div>

      <%= f.hidden_field :cost_currency, value: 'EUR' %>

      <div data-hook="admin_product_form_available_on">
        <%= f.field_container :available_on, class: ['form-group'] do %>
          <%= f.label :available_on, Spree.t(:available_on) %>
          <%= f.error_message_on :available_on %>
          <%= f.text_field :available_on, value: datepicker_field_value(@product.available_on), class: 'datepicker form-control' %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_production_type">
        <%= f.field_container :production_type, :class => ['form-group'] do %>
          <%= f.label :production_type, Spree.t(:production_type) %>
          <%= f.select :production_type, options_for_select(Nelou::PRODUCTION_TYPES.map { |l| [Spree.t(l), l]}, @product.production_type), {}, class: 'select2' %>
          <%= f.error_message_on :production_type %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_photo_credits">
        <%= f.field_container :photo_credits, :class => ['form-group'] do %>
          <%= f.label :photo_credits, Spree.t(:photo_credits) %>
          <%= f.text_field :photo_credits, class: 'form-control' %>
          <%= f.error_message_on :photo_credits %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_eco">
        <%= f.field_container :eco, :class => ['form-group'] do %>
          <div class="checkbox">
            <%= f.label :eco do %>
              <%= f.error_message_on :eco %>
              <%= f.check_box :eco %>
              <%= Spree.t(:eco) %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @product.has_variants? %>
        <div data-hook="admin_product_form_multiple_variants" class="well">
          <%= f.label :skus, Spree.t(:sku).pluralize %>
          <div class="info marginb">
            <%= Spree.t(:info_product_has_multiple_skus, count: @product.variants.count) %>
            <ul class="text_list">
              <% @product.variants.first(5).each do |variant| %>
                <li><%= link_to variant_options(variant), edit_admin_product_variant_path(@product, variant) %></li>
              <% end %>
            </ul>
            <% if @product.variants.count > 5 %>
              <em>
                <%= Spree.t(:info_number_of_skus_not_shown, count: @product.variants.count - 5) %>
              </em>
            <% end %>
          </div>
          <div class="info-actions">
            <% if can?(:admin, Spree::Variant) %>
              <%= link_to_with_icon 'variants', Spree.t(:manage_variants), spree.admin_product_variants_url(@product), class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div data-hook="admin_product_form_sku">
          <%= f.field_container :sku, class: ['form-group'] do %>
            <%= f.label :sku, Spree.t(:sku) %>
            <%= f.text_field :sku, size: 16, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_product_form_promotionable">
          <%= f.field_container :promotionable, class: ['form-group'] do %>
              <%= f.label :promotionable, Spree.t(:promotionable) %>
              <%= f.error_message_on :promotionable %>
              <%= f.check_box :promotionable, class: 'form-control' %>
          <% end %>
        </div>
      <% end %>

      <% if can? :edit, Spree::ShippingCategory %>

        <div data-hook="admin_product_form_shipping_categories">
          <%= f.field_container :shipping_categories, class: ['form-group'] do %>
            <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
            <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { include_blank: Spree.t('match_choices.none') }, { class: 'select2', disabled: (cannot? :edit, Spree::ShippingCategory) }) %>
            <%= f.error_message_on :shipping_category %>
          <% end %>
        </div>

      <% end %>

    </div>

  </div>

  <div data-hook="admin_product_form_taxons">
    <%= f.field_container :taxons, class: ['form-group'] do %>
      <%= f.label :taxon_ids, Spree.t(:taxons) %>

      <% if can? :modify, Spree::Classification %>
        <%= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(',') %>
      <% elsif @product.taxons.any? %>
        <ul class="text_list">
          <% @product.taxons.each do |taxon| %>
            <li><%= taxon.name %></li>
          <% end %>
        </ul>
      <% else %>
        <div class="alert alert-info"><%= Spree.t(:no_resource_found, resource: :taxons) %></div>
      <% end %>

    <% end %>
  </div>

  <div data-hook="admin_product_form_option_types">
    <%= f.field_container :option_types, class: ['form-group'] do %>
      <%= f.label :option_type_ids, Spree.t(:option_types) %>

      <% if can? :modify, Spree::OptionType %>
        <%= f.hidden_field :option_type_ids, value: @product.option_type_ids.join(',') %>
      <% elsif @product.option_types.any? %>
        <ul class="text_list">
          <% @product.option_types.each do |type| %>
            <li><%= type.presentation %> (<%= type.name %>)</li>
          <% end %>
        </ul>
      <% else %>
        <div class="alert alert-info"><%= Spree.t(:no_resource_found, resource: :option_types) %></div>
      <% end %>

    <% end %>
  </div>

  <div data-hook="admin_product_form_meta">
    <% if admin %>

      <div data-hook="admin_product_form_meta_title">
        <%= f.field_container :meta_title, class: ['form-group'] do %>
          <%= f.label :meta_title, Spree.t(:meta_title) %>
          <%= f.text_field :meta_title, class: 'form-control' %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_meta_keywords">
        <%= f.field_container :meta_keywords, class: ['form-group'] do %>
          <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
          <%= f.text_field :meta_keywords, class: 'form-control' %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_meta_description">
        <%= f.field_container :meta_description, class: ['form-group'] do %>
          <%= f.label :meta_description, Spree.t(:meta_description) %>
          <%= f.text_field :meta_description, class: 'form-control' %>
        <% end %>
      </div>

    <% end %>

    <div data-hook="admin_product_form_additional_fields"></div>

  </div>
</div>
