<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-md-6">
    <div data-hook="variants">
      <% @product.option_types.each do |option_type| %>
      <div class="form-group" data-hook="presentation">
        <%= label :new_variant, option_type.name %>
        <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
            { :prompt => true }, { :name => 'variant[option_value_ids][]', :class => 'select2' } %>
      </div>
      <% end %>

      <div class="form-group" data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :class => 'form-control' %>
      </div>

      <% if @product.option_types.any? %>
        <div class="form-group" data-hook="price">
          <%= f.label :original_price, Spree.t(:price) %>
          <%= f.text_field :original_price, value: number_to_currency(@variant.original_price, unit: ''), class: 'form-control' %>
        </div>
      <% else %>
        <%= f.hidden_field :original_price, value: number_to_currency(@product.master.original_price, unit: '') %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">

    <div class="form-group" data-hook="limited_items">
      <%= f.label :limited_items, Spree.t(:limited_items) %>
      <%= f.number_field :limited_items, :class => 'form-control' %>
    </div>

    <div class="form-group" data-hook="limited_items_sold">
      <%= f.label :limited_items_sold, Spree.t(:limited_items_sold) %>
      <%= f.number_field :limited_items_sold, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="checkbox" data-hook="limited">
        <%= f.label :limited do %>
          <%= f.check_box :limited %>
          <%= Spree.t(:variant_is_limited) %>
        <% end %>
      </div>
    </div>

  </div>

  <%= f.hidden_field :validate_option_values, value: '1' %>

</div>
