<div class="product-list">
  <% products.each_slice(4) do |slice| %>
    <div class="product-list-row">
      <% slice.each do |product| %>
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <div class="product-list-item" id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
          <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product.id, product.updated_at] : [I18n.locale, current_currency, product.id, product.updated_at]) do %>
            <%= link_to small_image(product, itemprop: 'image', class: 'product-list-image'), url, itemprop: 'url', class: 'product-list-image-link' %>
            <div class="product-list-text">
              <div class="product-list-item-tags">
                <% if product.is_recent? %>
                  <span class="product-list-item-tag product-list-item-tag-new">
                    <%= t('.new') %>
                  </span>
                <% end %>
                <% if product.on_sale? %>
                  <span class="product-list-item-tag product-list-item-tag-sale">
                    <%= t('.sale') %>
                  </span>
                <% end %>
                <% if product.limited? %>
                  <span class="product-list-item-tag product-list-item-tag-sale">
                    <%= t('.limit') %>
                  </span>
                <% end %>
                <% if product.eco %>
                  <span class="product-list-item-tag product-list-item-tag-eco">
                    <%= t('.eco') %>
                  </span>
                <% end %>
              </div>
              <%= link_to product.designer_label.name, main_app.nelou_designer_label_path(product.designer_label), class: 'product-list-item-link product-list-item-designer' %>
              <%= link_to truncate(product.name, length: 50), url, class: 'product-list-item-link product-list-item-name', itemprop: "name", title: product.name %>
              <% if product.on_sale? %>
                <span class="product-list-item-link product-list-item-price product-list-item-price-sale" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <span class="product-list-item-price-old">
                    <span class="product-list-item-price-old-stroke"><%= product.original_price_in(current_currency).display_price.to_html %></span>&nbsp;/&nbsp;<%= number_to_percentage -(product.discount_percent_in(current_currency)), precision: 0 %>
                  </span>
                  <br/>
                  <span itemprop="price"><%= display_price(product) %></span>
                </span>
              <% else %>
                <a href="<%= url %>" class="product-list-item-link product-list-item-price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <span itemprop="price">
                    <% if product.variants.count > 1 && product.has_variants_with_different_price? %>
                      <%= Spree.t(:from) %>
                    <% end %>
                    <%= product.lowest_display_price.to_html %>
                  </span>
                </a>
              <% end %>
            </div>
          <% end %>
        </div>
        <% reset_cycle("classes") %>
      <% end %>
    </div>
  <% end %>
</div>
